.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main ul {
  padding-left: 1rem;
}

.main li {
  list-style: none;
  padding: 0 0.5rem;
}
